<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Local Diagnosis Report</title>
    <link rel="stylesheet" href="/static/output.css" />
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <script defer src="/static/js/index.js"></script>
  </head>
  <body>
    {% macro mytable(header_names) %}
    <div class="max-h-[500px] overflow-y-auto relative">
      <table class="w-full">
        <thead class="sticky top-0 z-10 bg-white">
          <tr>
            {% for h in header_names %}
            <th>{{h}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {{ caller() }}
        </tbody>
      </table>
    </div>
    {% endmacro %}

    <header>
      <h1>Local Diagnosis Report</h1>
    </header>
    <main>
      <section id="hardware">
        <h2>Hardware</h2>
        <div id="cpu">
          <h3>CPU</h3>
          <div>
            <div id="cpu_logical_cores">
              <p>Logical Core Count</p>
              <p>{{cpu.logical_cores}}</p>
            </div>
            <div id="cpu_load">
              <p>CPU Load</p>
              <p>{{cpu.current}}%</p>
            </div>
            <div id="cpu_load_minute_avg">
              <p>1 Minute Average</p>
              <p>{{cpu.one_minute}}%</p>
            </div>
            <div id="cpu_load_five_minute_avg">
              <p>5 Minute Average</p>
              <p>{{cpu.five_minute}}%</p>
            </div>
            <div id="cpu_load_fifteen_minute_avg">
              <p>15 Minute Average</p>
              <p>{{cpu.fifteen_minute}}%</p>
            </div>
          </div>
        </div>
        <div id="memory">
          <h3>Memory</h3>
          <div id="memory_used_total">
            <p>Memory</p>
            <p>
              <span>{{memory.memory_used}}GB</span>
              <span>/</span>
              <span>{{memory.memory_total}}GB</span>
            </p>
          </div>
        </div>
        <div id="storage">
          <h3>Storage</h3>
          <!-- prettier-ignore -->
          {% call mytable(["Filesystem", "Total Capacity (MB)", "Used (MB)", "Mount Path"]) %}
          <!-- prettier-ignore -->
          {% for storage in storages %}
          <tr>
            <td>{{storage.filesystem}}</td>
            <td>{{storage.total_capacity}}</td>
            <td>{{storage.used_capacity}}</td>
            <td>{{storage.mount_path}}</td>
          </tr>
          <!-- prettier-ignore -->
          {% endfor %}
          <!-- prettier-ignore -->
          {% endcall %}
        </div>
      </section>
      <section id="tabs">
        <nav>
          <ol>
            <li>
              <button id="metrics_btn">Metrics</button>
            </li>
            <li>
              <button id="network_btn">Network</button>
            </li>
            <li>
              <button id="logs_btn">Logs</button>
            </li>
          </ol>
        </nav>
        <div>
          <section id="metrics">
            <h2>Metrics</h2>
            <div id="metrics">
              <h3>Tracked Metrics</h3>
              <!-- prettier-ignore -->
              {% call mytable(["Created On", "Core Count (Logical)", "Average Load (%)", "Total Memory (GB)", "Memory Used (GB)"]) %}
              <!-- prettier-ignore -->
              {% for metric in metrics %}
              <tr>
                <td>{{metric.created_on.strftime('%-m/%-d/%Y, %-I:%M %p')}}</td>
                <td>{{metric.cpu_logical_core_count}}</td>
                <td>{{metric.cpu_average}}</td>
                <td>{{metric.memory_total}}</td>
                <td>{{metric.memory_used}}</td>
              </tr>
              <!-- prettier-ignore -->
              {% endfor %}
              <!-- prettier-ignore -->
              {% endcall %}
            </div>
          </section>
          <section id="network" hidden>
            <h2>Network</h2>
            <div id="local">
              <h3>Local UNIX Network</h3>
              <!-- prettier-ignore -->
              {% call mytable(["Protocol", "State", "Type", "Path"]) %}
              <!-- prettier-ignore -->
              {% for network in network.local %}
              <tr>
                <td>{{network.proto}}</td>
                <td>{{network.state}}</td>
                <td>{{network.type}}</td>
                <td>{{network.path}}</td>
              </tr>
              {% endfor %}
              <!-- prettier-ignore -->
              {% endcall %}
            </div>
            <div id="tcp">
              <h3>TCP Network</h3>
              <!-- prettier-ignore -->
              {% call mytable(["Protocol", "State", "Local Address", "Foreign Address"]) %}
              <!-- prettier-ignore -->
              {% for network in network.tcp %}
              <tr>
                <td>{{network.proto}}</td>
                <td>{{network.state}}</td>
                <td>{{network.local_address}}</td>
                <td>{{network.foreign_address}}</td>
              </tr>
              {% endfor %}
              <!-- prettier-ignore -->
              {% endcall %}
            </div>
          </section>
          <section id="logs" hidden>
            <h2>Logs</h2>
            <div id="auth">
              <h3>Authentication</h3>
              <!-- prettier-ignore -->
              {% call mytable(["Date", "Hostname", "Service", "Message"]) %}
              <!-- prettier-ignore -->
              {% for log in auth_logs %}
              <tr>
                <td>{{log.timestamp}}</td>
                <td>{{log.hostname}}</td>
                <td>{{log.service}}</td>
                <td>{{log.message}}</td>
              </tr>
              {% endfor %}
              <!-- prettier-ignore -->
              {% endcall %}
            </div>
            <div id="jctl">
              <h3>JournalCtl</h3>
              <!-- prettier-ignore -->
              {% call mytable(["Date", "Hostname", "Service", "Message"]) %}
              <!-- prettier-ignore -->
              {% for log in auth_logs %}
              <tr>
                <td>{{log.timestamp}}</td>
                <td>{{log.hostname}}</td>
                <td>{{log.service}}</td>
                <td>{{log.message}}</td>
              </tr>
              {% endfor %}
              <!-- prettier-ignore -->
              {% endcall %}
            </div>
          </section>
        </div>
      </section>
    </main>
    <footer>
      <p>By Owen Truong</p>
      <p>MIT License</p>
    </footer>
  </body>
</html>
